# Project exclude paths
/.gradle/
/Battleship/task/build/
/Battleship/task/out/
/Battleship/task/out/production/classes/
/Battleship/task/out/test/classes/
/Topics/Enums in Java/Hidden enumeration/out/
/Topics/Enums in Java/Hidden enumeration/out/production/classes/
/Topics/Fields and methods in enum/Robot control/out/
/Topics/Fields and methods in enum/Robot control/out/production/classes/